h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: darkslategrey;
    text-align: center;
    font-size: 60px;
}
p {
  font-family: verdana;
  font-size: 20px;
}
h2{
    font-family: verdana;
    font-size: 16px;
    background-color: lightblue;
}
body {
  background-color: lightgrey;
}
ul{
    border: solid 2px #CC00AA;
}
/* MEOW*/